.ml-6 {
    margin-left: 15rem;
}
.ml-header-6 {
    margin-left: 7.5rem;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-paddings {
    padding: 0;
}

.color-gray {
    color: #8C8D90;
}

.color-gray-dark {
    color: #15203E;
}

.color-green {
    color: #388447;
}

.color-white {
    color: #ffffff;
}
.color-light {
    color: #758078;
}

.mr-20 {
    margin-right: 20px;
}

.font-bold {
    font-family: 'Airbnb Cereal Bold';
}

.font-extra-bold {
    font-family: 'Airbnb Cereal Extra Bold';
}

.font-medium {
    font-family: 'Airbnb Cereal Medium';
}

.font-light {
    font-family: 'Airbnb Cereal Light';
}

.fs-8 {
    font-size: 8px;
}
.fs-9 {
    font-size: 9px;
}
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}

.lh-18{
    line-height: 18px;
}

.color-green-gradient {
    background: -webkit-linear-gradient(360deg, hsla(131, 25%, 33%, 1) 0%, hsla(131, 49%, 39%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ml-15rem {
    margin-left: 15rem;
}
.mt--5rem {
    margin-top: -5rem;
}

.mt-10 {
    margin-top: 10rem;
}
@media (max-width: 576px) { 
    .mt-10 {
        margin-top: 3rem;
    }
    .fs-16 {
        font-size: 14px;
    }
    .fs-18 {
        font-size: 16px;
    }
    .fs-20 {
        font-size: 18px;
    }
 }